# clone warpx
if [ ! -d "${HOME}/src/warpx" ]
then
    git clone https://github.com/ECP-WarpX/WarpX.git ${HOME}/src/warpx
fi

# download and activate spack
if [ ! -d "${HOME}/spack" ]
then
    git clone -c feature.manyFiles=true https://github.com/spack/spack.git ${HOME}/spack
    source ${HOME}/spack/share/spack/setup-env.sh

    module purge
    spack unload --all
    spack env deactivate
    spack load gcc@11.1.0

    # create and activate the spack environment
    spack env create warpx-thor-cuda ${HOME}/src/warpx/Tools/machines/eli-np/spack-thor-cuda.yaml
    spack env activate warpx-thor-cuda
    spack install
else
    # activate the spack environment
    source ${HOME}/spack/share/spack/setup-env.sh

    module purge
    spack unload --all
    spack env deactivate
    spack load gcc@11.1.0

    spack env activate warpx-thor-cuda
fi

export AMREX_CUDA_ARCH="7.0"

# compiler environment hints
export CC=$(which gcc)
export CXX=$(which g++)
export FC=$(which gfortran)
export CUDACXX=$(which nvcc)
export CUDAHOSTCXX=$(which g++)
